h1
{
	color: #007EFF;
	    font-family: Arial;
}
h2
{
	color: #007EFF;
	    font-family: Arial;
}
h3
{
	font-size:16px;
	    font-family: Arial;
	color: #007EFF;
}

body
{
	background-color: #181A1B;
}
h5
{
	color: #181A1B;
}
a
{
	color: gray;
}